<%- include ("partials/header.ejs"); %>

<h1>Welcome.</h1>

<p class="lead">
    This is an interface to the illumi API. Illumi is a communication platform tailored for educational purposes, and was developed by Yousef Yassin and Shrish Mohapatra using React, Node, Electron and GraphQL.
</p>

<a href="/api" class="btn btn-secondary">Get Started</a>
<a href="https://github.com/Yyassin/illumi/releases" target="_blank" rel="noopener" class="btn btn-dark">Download Illumi</a>

<%- include ("partials/footer.ejs"); %>