:root {
    --message-color: #fff;
    --chat-container-bg: #232323;
    --chat-form-bg: #ffffff07;
    --message-btn-100: #161616;
    --message-btn-50: #16161650;

}

.light-theme {
    --message-color: #000;
    --chat-container-bg: #fff;
    --chat-form-bg: #23232320;
}

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

li {
    text-decoration: none;
    list-style: none;
}

.message:last-child {
    padding-bottom: 25px;
}

.message-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: filter 200ms ease-in;
    border-radius: 5px;
    margin-top: 1px;
}

.message-container:hover {
    background-color: var(--selected);
}

.message-container .avatar {
    position: relative;
    top: 7px;
    background-color: transparent;
    padding-right: 15px;
    flex: 0;
}

.message-container .avatar-btn:hover  {
    cursor: pointer;
}

.month-date-line{
    position: relative;
    display: flex;
    height: 2px;
    justify-content: center;
    border-top: 1px solid #ffffff20;
}

.month-date {
    font-family: 'Whitney', sans-serif;
    font-weight: 500;
    font-size: 11px;
    position: relative;
    top: -9.5px;
    height: 10px;
    padding: 0 8px;
    color: #ffffff60;
    background-color: var(--chat-container-bg);
}

.message-content:first-child {
    display: flex;
    max-width: 90%;
    flex-basis: 100% !important;
    flex-direction: row !important;
    /* align-items: center; */
}

.meta-data {
    display: flex;
    align-items: baseline;
}

.message-name {
    font-family: 'Whitney', sans-serif;
    font-weight: 650;
    padding-top: 10px;
    font-size: 14px;
    padding-right: 8px;
}

.message-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.message-time {
    font-family: 'Whitney', sans-serif;
    font-weight: 300;
    font-size: 11px;
    flex: 2 0;
    min-width: 55px;
    width: 55px;
    max-width: 55px;
}

.message-content:first-child .message-time {
    color: transparent;
    position: relative;
    top: 3px;
}

.message-container:first-child:hover .message-time {
    color: var(--text-col)
}

.message-text {
    font-family: 'Whitney', sans-serif;
    font-weight: 500;
    flex: 8 ;
    display: flex;
    justify-content: left;
    align-items: center;
    min-width: 50%;
}

.chat {
    flex: auto;
}

.chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 20px;
    border-radius: 10px 0 0 0;
    background-color: var(--chat-container-bg);
    transition: background-color 500ms ease-in-out;
}

.chat-container div.box {
    background-color: var(--chat-container-bg) !important;
    transition: background-color 500ms ease-in-out;
}

.chat-container ul li.message {
    color: var(--message-color);
    transition: color 1000ms ease-in-out;;
}

.chat-form-container {
    display: flex;
    justify-content: left;
    align-content: center;
    width: 100%;
    color: black;
    background-color: var(--chat-form-bg);
    padding: 0px;
    border-radius: 10px;
}

.message-input {
    flex: 10;
    background: transparent;
    color: var(--message-color);
    border: none;
    width: 80%;
    padding: 8px;
}

.message-send-btn {
    font-size: 17px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: none;
    color: var(--message-color);
    background-color: var(--message-btn-50);
    border-radius: 10px;
    transition: color 100ms ease-in-out;
}

.file-send-btn {
    border: none;
    background-color: transparent;
}

.message-send-btn a {
    transition: transform 200ms ease-in-out;
}

.message-send-btn:hover {
    color: plum;
    filter: brightness(1.10);
    background-color: var(--message-btn-100);
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1) */
}

.message-send-btn:hover a {
    transform: scale(1.2);
}

/*--------------------- 
ServerHome 
-----------------------*/

.main {
    height: 100%;
}

.home-content {
    font-family: 'Whitney', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--chat-container-bg);
    height: 100%;
}

.home-content h1.server-title {
    color: var(--message-color);
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 700;
}

.home-content .greeting {
    padding: 0 100px;
    text-align: center;
    font-weight: 500;
}

.main-content{
    font-size: 15px;
    font-weight: 600;
    color: var(--message-color);
    text-align: center;
    padding-top: 15px;
}

.home-content .outline {
    text-align: center;
    margin-top: 20px;
    backdrop-filter: brightness(0.70);
    color: var(--message-color);
    height: 35px;
    width: 120px;
    line-height: 35px;
    border-radius: 5px;
    transition: backdrop-filter 100ms ease-in-out;
}

.home-content .outline:hover {
    backdrop-filter: brightness(1.2);
}

.home-content .link:hover {
    cursor: pointer;
}

.home-content .event {
    padding-top: 30px;
    font-size: 25px;
    font-weight: 650;
}

.home-content .event-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-content .event-container .add-event {
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 19px;
    left: 20px;
    backdrop-filter: brightness(0.70) ;
    color: var(--text-highlight);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 20px;
    transition: background-color 400ms ease-in-out, color 200ms ease-in-out;
}

.home-content .event-container .add-event:hover {
    background-color: var(--text-highlight);
    color: #fff;
    cursor: pointer;
}

.video-link {
    text-decoration: underline;
}

.video-link:hover {
    text-decoration: none;
    color: var(--text-highlight);
    cursor: pointer;
}

.event-list {
    width: 100%
}

.event-card {
    width: 100%;
}

::-webkit-scrollbar {
    width: 2px;  /* Remove scrollbar space */
    border-radius: 1px;
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #444444;
}
