:root {
    --message-color: #fff;
    --chat-container-bg: #232323;
    --chat-form-bg: #ffffff07;
    --message-btn-100: #161616;
    --message-btn-50: #16161650;

}

.light-mode {
    --message-color: #000;
    --chat-container-bg: #fff;
    --chat-form-bg: #23232320;
}

li {
    text-decoration: none;
    list-style: none;
}

.message-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    transition: filter 200ms ease-in;
    border-radius: 5px;
    margin-bottom: 8px;
}

.message-container:hover {
    backdrop-filter: brightness(0.92);    
}

.message-container .avatar {
    background-color: transparent;
    padding-right: 15px;
    flex: 1;
}

.message-content {
    flex: 10;
}

.meta-data {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

.message-name {
    font-size: 14px;
    font-weight: 500;
    padding-right: 8px;
}

.message-time {
    font-size: 11px;
    font-weight: 300;
}

.message-text {
    padding-top: 5px;
    min-width: 100%;
}


.chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 20px;
    border-radius: 10px 0 0 0;
    background-color: var(--chat-container-bg);
    transition: background-color 500ms ease-in-out;
}

.chat-container div.box {
    background-color: var(--chat-container-bg) !important;
    transition: background-color 500ms ease-in-out;
}

.chat-container ul li.message {
    color: var(--message-color);
    transition: color 1000ms ease-in-out;;
}

.chat-form-container {
    display: flex;
    justify-content: left;
    align-content: center;
    width: 100%;
    color: black;
    background-color: var(--chat-form-bg);
    padding: 0px;
    border-radius: 10px;
}

.message-input {
    flex: 10;
    background: transparent;
    color: var(--message-color);
    border: none;
    width: 80%;
    padding: 8px;
}

.message-send-btn {
    font-size: 17px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: none;
    color: var(--message-color);
    background-color: var(--message-btn-50);
    border-radius: 10px;
    transition: color 100ms ease-in-out;
}

.file-send-btn {
    border: none;
    background-color: transparent;
}

.message-send-btn a {
    transition: transform 200ms ease-in-out;
}

.message-send-btn:hover {
    color: plum;
    filter: brightness(1.10);
    background-color: var(--message-btn-100);
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1) */
}

.message-send-btn:hover a {
    transform: scale(1.2);
}