@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

:root {
    --header-color: #fff;
    --text-color: #fff;
    --side-bg: #171a1c;
    --inner-side-bg: #1f1f1f;
    --outer-side-bg: #171a1c;
    --chat-container-bg: #232323;
    --menu-after: #ffffff50;
    --profile-bg: #131313;
    --text-highlight: #9370DB;
    --head-shadow: rgba(41,41,41, 1);
    --selected: #5c555210;
    --menu-bg: #1f1f1f;
    --group-title-col: rgba(255, 255, 255, 0.45);
    --tooltip-col: #181716;
}

.light-theme {
    --header-color: #000;
    --text-color: #000;
    --side-bg: #ECECEC;
    --inner-side-bg: #f5f5f5;
    --outer-side-bg:  #ECECEC;
    --chat-container-bg: #fff;
    --menu-after: #000050;
    --profile-bg: #DCDCDC;
    --text-highlight: #7289da;
    --head-shadow: rgba(41,41,41, .2);
    --selected: #5c555210;
    --menu-bg: #ECECEC;
    --group-title-col: #000;
    --tooltip-col: #2a2727;
}

.ant-layout {
    background-color: var(--side-bg);
}

.main-layout {
    min-height: calc(100vh - 30px);
}

.main-header {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 50px;
}

.header-bold {
    font-weight: 500;
    color: var(--header-color);
}

.header-light {
    font-weight: 400;
    color: var(--header-color);
}

.main-content {
    background-color: var(--inner-side-bg);
}

.main-header {
    background-color: var(--inner-side-bg);
    z-index: 1;
    box-shadow: 0px 0px 9px 3px var(--head-shadow);
}

.sidebar-header {
    /* border-right: 1px solid gray; */
    
    background-color: var(--inner-side-bg);
    height: 64px;
    padding: 10px 10px 10px 50px;
    line-height: 64px;
    z-index: 1;
    box-shadow: 0px 0px 9px 3px var(--head-shadow);
}


.sidebar-header-content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: var(--text-color);
    line-height: 3.5715;
    font-size: 14px;
    font-weight: 500;
}

.sidebar-header-content .server-name {
    flex: 1;
}

.sidebar-header-content .create-page {
    position: relative;
    right: 4px;
    bottom: 6px;
    margin: auto;
}

.create-page svg {
    fill: var(--text-color)
}

.create-page:hover svg {
    fill: var(--text-highlight)
}

.outer-sidebar,
.outer-menu {
    background-color: var(--side-bg);
    border: none;
}

.outer-sidebar {
    background-color: var(--outer-side-bg) !important;
}

.outer-menu {
    display: flex;
    background-color: var(--outer-side-bg) !important;
    flex-direction: column;
    justify-content: center;
}

.outer-menu li{
    color: var(--text-color);
} 

/*
.outer-menu .ant-menu-submenu,
.outer-menu .ant-menu-item {
    color: white;
} */

.ant-menu-item-selected {
    background-color: var(--selected) !important;
}

.ant-tooltip-inner {
    color: var(--text-color);
    font-weight: 500;
    background-color: var(--tooltip-col);
}

.ant-tooltip-arrow::before { 
    background-color: var(--tooltip-col); 
}

.servers {
    pointer-events: stroke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: -17px;
}

.server-thumbnail,
.server-thumbnail.create-server {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    width: 53px;
    line-height: 53px;
    border-radius: 50%;
    margin: 5px 0;
    transition: border-radius 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.server-thumbnail:before {
    content: " ";
    position: relative;
    left: -37px;
    display: block;
    width: 4px;
    height: 15px;
    border-radius: 0px 3px 3px 0px;
    transform-origin: left;
    transform: scale(0, 0.2);
    background-color: #fff;
    color: #fff;

    transition: transform 200ms ease-in-out;
}

.server-thumbnail.selected,
.server-thumbnail:hover {
    border-radius: 35%;
}

.server-thumbnail:not(.selected):not(.create-server):hover:before{
    transform: scale(1, 1);
}

.server-thumbnail.selected:before {
    content: " ";
    position: relative;
    left: -37px;
    display: block;
    width: 4px;
    height: 15px;
    border-radius: 0px 3px 3px 0px;
    transform: scale(1, 2);
    background-color: #fff;
    color: #fff;
}

.create-server{
    transition: background-color 200ms ease-in-out !important;
}

.create-server svg {
    position: relative;
    right: 2px;
    font-size: 24px;
    fill: var(--text-highlight);
    transition: fill 200ms ease-in-out !important;
}

.create-server:hover{
    background-color: var(--text-highlight) !important;
}
.create-server:hover svg{
    fill: #fff;
}

.inner-sidebar,
.inner-inner-menu {
    background-color: var(--inner-side-bg);
    border-radius: 15px 0 0 0;
    overflow: hidden;
    border: none;
}

.inner-sidebar {
    min-width: 240px !important;
    max-width: 240px !important;
}

.inner-sidebar .ant-layout-sider-children div.box ul li{
    margin-bottom: 7px;
}

.inner-sidebar .ant-layout-sider-children div.box ul li span {
    color: var(--text-color);
    /* transition: color 200ms ease-in; */
}

.inner-sidebar .ant-layout-sider-children div.box ul li:hover{
    backdrop-filter: brightness(1.2);
}

/* .inner-sidebar .ant-layout-sider-children div.box ul li:hover span{
    color: var(--text-highlight);
} */

.inner-sidebar .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    backdrop-filter: brightness(1.2);
    background-color: transparent;
}

.inner-sidebar .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected span {
    color: var(--text-highlight) !important;
}

.inner-sidebar .ant-menu-item::after {
    border-right: 3px solid var(--menu-after) !important;
}

ul.ant-menu-sub {
    background: var(--profile-bg) !important;
}

.chat-container div.box {
    padding: 15px 15px 10px 10px !important; 
}

.profile-section {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: baseline;
    height: 60px;
    width: 100%;
}

.profile-items {
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--profile-bg);
    flex: 3;
}

.avatar p {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 8px;
    padding-left: 10px;
    border-radius: 50%;
    line-height: 40px;
    height: 40px;
    width: 40px;
    transition: filter 100ms ease-in-out;
}

.avatar p:hover {
    filter: brightness(1.4);
}

.profile-info {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 12px;
    padding: 0 1px;
    height: 100%;
    background-color: var(--profile-bg);
    flex: 5;
    font-family: 'Poppins', sans-serif;
}

.profile-info .info-name {
    color: var(--text-color);
    font-weight: 600;
}

.profile-info .info-email {
    color: var(--text-color);
    font-size: 8px;
    font-weight: 300;
}

.settings {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    background-color: var(--profile-bg);
    margin: 0 auto;
    flex: 2;
}

.settings a {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    line-height: 40px;
    height: 40px;
    width: 40px;
    transition: background-color 200ms ease-in-out;
}

.settings a:hover {
    background-color: #43434350;
}

ul.ant-dropdown-menu,
.ant-dropdown-menu-submenu-title {
    border-radius: 5px !important;
    color: var(--text-color);
}

ul.ant-dropdown-menu {
    background-color: var(--menu-bg) !important;
}

ul.ant-dropdown-menu li {
    border-radius: 2px !important;
}

.ant-dropdown-menu-item-group-title {
    font-weight: 500;
    color: var(--group-title-col);
}

.tag {
    color:var(--text-color);
}

li.logout-tag,
li.close-tag {
    color: #A64452;
}



.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
}