@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

:root {
    --header-color: #fff;
    --text-color: #fff;
    --side-bg: #171a1c;
    --inner-side-bg: #1f1f1f;
    --outer-side-bg: #171a1c;
    --chat-container-bg: #232323;
    --menu-after: #ffffff50;
    --profile-bg: #131313;
    --text-highlight: #9370DB;
    --head-shadow: rgba(41, 41, 41, 1);
    --selected: #5c555220;
    --menu-bg: #1f1f1f;
    --group-title-col: rgba(255, 255, 255, 0.45);
    --tooltip-col: #181716;
    --page-set-bg: rgb(44, 44, 44);
    --disabled:  rgba(255, 255, 255, 0.05);
}

.light-theme {
    --header-color: #000;
    --text-color: #000;
    --side-bg: #ECECEC;
    --inner-side-bg: #f5f5f5;
    --outer-side-bg: #ECECEC;
    --chat-container-bg: #fff;
    --menu-after: #000050;
    --profile-bg: #DCDCDC;
    --text-highlight: #7289da;
    --head-shadow: rgba(41, 41, 41, .2);
    --selected: #5c555230;
    --menu-bg: #ECECEC;
    --group-title-col: #000;
    --tooltip-col: #DCDCDC;
    --page-set-bg: rgb(199, 199, 199);
    --disabled:  rgba(0, 0, 0, 0.2);
}

.ant-layout {
    background-color: var(--side-bg);
}

.main-layout {
    min-height: calc(100vh - 30px);
}

.main-header {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 50px;
}

.header-bold {
    font-family: 'Whitney', sans-serif;
    ;
    font-weight: 700;
    color: var(--header-color);
}

.header-light {
    font-family: 'Whitney', sans-serif;
    ;
    font-weight: 600;
    color: var(--header-color);
}

.main-content {
    font-family: 'Whitney', sans-serif;
    ;
    font-weight: 600;
    background-color: var(--inner-side-bg);
}

.main-header {
    font-family: 'Whitney', sans-serif;
    ;
    font-weight: 600;
    background-color: var(--inner-side-bg);
    z-index: 1;
    box-shadow: 0px 0px 9px 3px var(--head-shadow);
}

.sidebar-header {
    /* border-right: 1px solid gray; */
    background-color: var(--inner-side-bg);
    height: 64px;
    padding: 10px 10px 10px 50px;
    line-height: 64px;
    z-index: 1;
    box-shadow: 0px 0px 9px 3px var(--head-shadow);
}

.server-name {
    font-family: 'Whitney', sans-serif !important;
    font-weight: 700 !important;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: var(--text-color);
    line-height: 3.5715;
    font-size: 14px;
    font-weight: 500;
}

.menu-icon-tray span {
    width: 30px;
    height: 30px;
    line-height: 33px;
    border-radius: 15px;
}

.menu-icon-tray span:hover {
    background-color: var(--page-set-bg);
    cursor: pointer;
}

.menu-icon-tray span span svg:hover,
.menu-icon-tray span span:hover,
.menu-icon-tray span span svg path:hover{
    cursor: pointer;
}

.page-settings-icon {
    color: var(--text-color);
}

.page-settings-icon:hover {
    color: var(--text-highlight);
    cursor: pointer;
}

.outer-sidebar,
.outer-menu {
    background-color: var(--side-bg);
    border: none;
}

.outer-sidebar {
    background-color: var(--outer-side-bg) !important;
    background-color: var(--outer-side-bg) !important;
    flex: 0 0 80px !important;
    max-width: 80px !important;
    min-width: 80px !important;
    width: 80px !important;
}

.outer-menu {
    display: flex;
    background-color: var(--outer-side-bg) !important;
    flex-direction: column;
    justify-content: center;
}

.outer-menu li {
    color: var(--text-color);
}

/* .page-menu-item span:not(.anticon) {
    display: inline-block;
    width: 150px !important;
    height: auto !important;
} */

/*
.outer-menu .ant-menu-submenu,
.outer-menu .ant-menu-item {
    color: white;
} */

.ant-menu-item-selected {
    background-color: var(--selected) !important;
}

.ant-tooltip-inner {
    color: var(--text-color);
    font-weight: 500;
    background-color: var(--tooltip-col);
}

.ant-tooltip-arrow::before {
    background-color: var(--tooltip-col);
}

.servers {
    pointer-events: stroke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: -17px;
}

.server-thumbnail,
.server-thumbnail.create-server {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--chat-container-bg) !important;
    height: 53px;
    width: 53px;
    line-height: 53px;
    border-radius: 50%;
    margin: 5px 0;
    transition: border-radius 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
}

.server-thumbnail:before {
    content: " ";
    position: relative;
    left: -37px;
    display: block;
    width: 4px;
    height: 17px;
    border-radius: 0px 3px 3px 0px;
    transform-origin: left;
    transform: scale(0, 0.2);
    background-color: var(--text-color);
    color: var(--text-color);

    transition: transform 150ms ease-in-out;
}

.server-thumbnail.selected,
.server-thumbnail:hover {
    border-radius: 35%;
    cursor: pointer;
}

.server-thumbnail:not(.selected):not(.create-server):hover:before {
    transform: scale(1, 1);
}

.server-thumbnail.selected:before {
    content: " ";
    position: relative;
    left: -37px;
    display: block;
    width: 4px;
    height: 18px;
    border-radius: 0px 3px 3px 0px;
    transform: scale(1, 2);
    background-color: var(--text-color);
    color: var(--text-color);
}

.create-server {
    transition: background-color 200ms ease-in-out !important;
}

.create-server svg {
    position: relative;
    right: 2px;
    font-size: 24px;
    fill: var(--text-highlight);
    transition: fill 200ms ease-in-out !important;
}

.create-server:hover {
    background-color: var(--text-highlight) !important;
}

.create-server:hover svg {
    fill: #fff;
}

.create-server svg:hover {
    fill: #fff;
    cursor: pointer;
}

.inner-sidebar,
.inner-inner-menu {
    background-color: var(--inner-side-bg);
    border-radius: 15px 0 0 0;
    overflow: hidden;
    border: none;
}

.inner-sidebar {
    min-width: 240px !important;
    max-width: 240px !important;
}

.inner-sidebar .ant-layout-sider-children div.box ul li {
    margin-bottom: 7px;
}

.inner-sidebar .ant-layout-sider-children div.box ul li span {
    color: var(--text-color);
    /* transition: color 200ms ease-in; */
}

.inner-sidebar .ant-layout-sider-children div.box ul li:hover {
    backdrop-filter: brightness(1.2);
    cursor: pointer !important;
}

/* .inner-sidebar .ant-layout-sider-children div.box ul li:hover span{
    color: var(--text-highlight);
} */

.inner-sidebar .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    backdrop-filter: brightness(1.2);
    background-color: transparent;
}

.inner-sidebar .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected span {
    color: var(--text-highlight) !important;
}

.inner-sidebar .ant-menu-item::after {
    border-right: 3px solid var(--menu-after) !important;
}

ul.ant-menu-sub {
    background: var(--profile-bg) !important;
}


.ant-menu-submenu-title span {
    font-family: 'Whitney', sans-serif;
    font-weight: 600;
}

.ant-menu-item.page-menu-item span {
    font-family: 'Whitney', sans-serif;
    font-weight: 500;
    filter: brightness(.7);
}

.chat-container div.box {
    padding: 15px 15px 10px 10px !important;
}

.profile-section {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: baseline;
    height: 60px;
    width: 100%;
}

.profile-items {
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--profile-bg);
    flex: 3;
}

.avatar p {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 8px;
    padding-left: 10px;
    border-radius: 50%;
    line-height: 40px;
    height: 40px;
    width: 40px;
    transition: filter 100ms ease-in-out;
}

.avatar p:hover {
    filter: brightness(1.4);
}

.profile-info {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 12px;
    padding: 0 1px;
    height: 100%;
    background-color: var(--profile-bg);
    flex: 5;
    font-family: 'Poppins', sans-serif;
}

.profile-info .info-name {
    font-family: 'Whitney', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: var(--text-color);
}

.profile-info .info-email {
    font-family: 'Whitney', sans-serif;
    font-weight: 600;
    color: var(--text-color);
    font-size: 10px;
}

.settings {
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    background-color: var(--profile-bg);
    margin: 0 auto;
    flex: 2;
}

.settings a {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    line-height: 40px;
    height: 40px;
    width: 40px;
    transition: background-color 200ms ease-in-out;
}

.settings a:hover {
    background-color: #43434350;
    cursor: pointer;
}

.settings a svg:hover{
    cursor: pointer;
}

ul.ant-dropdown-menu,
.ant-dropdown-menu-submenu-title {
    border-radius: 5px !important;
    color: var(--text-color);
}

ul.ant-dropdown-menu {
    background-color: var(--menu-bg) !important;
}

ul.ant-dropdown-menu li {
    border-radius: 2px !important;
}

.ant-dropdown-menu-item-group-title {
    font-weight: 500;
    color: var(--group-title-col);
}

.tag {
    color: var(--text-color);
}

li.logout-tag,
li.close-tag,
li.server-delete-tag,
li.server-leave-tag{
    color: #A64452;
}

li.server-edit-tag,
li.server-invite-tag {
    color: var(--text-color)
}

.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
}

.ant-popover-inner-content {
    margin: 0;
    padding: 0;
}

.ant-popover-title {
    display: flex;
    justify-content: center;
    background-color: var(--side-bg);
    color: var(--text-color);
    border: none !important;
}

.popover-content,
.popover-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popover-dark p {
    padding: 0;
    margin: 0;
}

.popover-dark {
    padding: 10px;
    background-color: var(--side-bg);
    width: 100%;
}

.popover-avatar {
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}

.popover-content .popover-dark .popover-name {
    color: var(--text-color);
    font-weight: 600;
    font-size: 15px;
    padding-top: 10px;
}

.popover-content .popover-dark .popover-email {
    color: var(--text-color);
    font-weight: 500;
    font-size: 13px;
    padding-top: 10px;
}

.popover-form {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.ant-form.ant-form-horizontal.popover-form .ant-form-item {
    margin: 0;
}

.ant-form.ant-form-horizontal.popover-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--profile-bg);
}

.popover-form button {
    margin-left: 10px;
    color: var(--text-color);
}

span.ant-select-selection-item,
span.ant-select-arrow {
    color: var(--text-color);
}

.ant-select-disabled {
    background-color: var(--disabled);
}